## This script will calculate the mean value for each day (15 min interval). In this script there will be a csv created for each diffrent residential dependng on the data file. For eg if you give Robin's house date it will create a seprate  csv having mean value for ecah day for that house

In [1]:
# importing the necessary libararies that will be needed for the computation
import numpy as np
import os
import pandas as pd

In [3]:
#  A dataframe name "df" is used to read the data file and create a dataframe with the help of pandas
df=pd.read_csv("Dataset/Robin 1 Month May 15 min.csv")

In [4]:
# tellin the shape of data that is how many rows and columns are there 
df.shape

(2976, 4)

#### Data Preprocessing

In [5]:
# checking for any null values in the data
df.isnull()

,CreatedDate,pm25_Robin: Living room,pm10_Robin: Living room,aqi_Robin: Living room
0,False,False,False,False
1,False,False,False,False
2,False,False,False,False
3,False,False,False,False
4,False,False,False,False
...,...,...,...,...
2971,False,False,False,False
2972,False,False,False,False
2973,False,False,False,False
2974,False,False,False,False
2975,False,False,False,False

In [6]:
# total count of null vlaues in the dataset 
df.isnull().sum()

CreatedDate                0
pm25_Robin: Living room    0
pm10_Robin: Living room    0
aqi_Robin: Living room     0
dtype: int64

In [7]:
# crateing a copy of dataset for any futher manipulation
df_copy=df.copy()

In [8]:
# dropping the null vlaues from the dataset 
df.dropna()

,CreatedDate,pm25_Robin: Living room,pm10_Robin: Living room,aqi_Robin: Living room
0,01-05-2024 00:00,38,100,100
1,01-05-2024 00:15,38,99,99
2,01-05-2024 00:30,38,99,99
3,01-05-2024 00:45,38,100,100
4,01-05-2024 01:00,38,100,100
...,...,...,...,...
2971,31-05-2024 22:45,131,325,308
2972,31-05-2024 23:00,128,321,306
2973,31-05-2024 23:15,121,307,301
2974,31-05-2024 23:30,114,291,280
2975,31-05-2024 23:45,108,271,260

In [9]:
# Count non-null values in each column
non_null_counts = df.count()
# Display the counts
print(non_null_counts)

CreatedDate                2976
pm25_Robin: Living room    2976
pm10_Robin: Living room    2976
aqi_Robin: Living room     2976
dtype: int64

In [10]:
# Convert CreatedDate to datetime, coercing errors and specifying the format
df['CreatedDate'] = pd.to_datetime(df['CreatedDate'], format='%d-%m-%Y %H:%M', errors='coerce')

# Drop rows with invalid dates
df = df.dropna(subset=['CreatedDate'])
# Extract the date part
df['Date'] = df['CreatedDate'].dt.date

# Group by the date and calculate the mean for each group, ignoring the CreatedDate column
daily_means = df.groupby('Date').mean().reset_index()

# Trim any extra spaces from the column names
daily_means.columns = daily_means.columns.str.strip()
# Rename the columns appropriately
daily_means = daily_means.rename(columns={
    'pm25_Robin: Living room': 'pm25',
    'pm10_Robin: Living room': 'pm10',
    'aqi_Robin: Living room': 'aqi'
})
# Convert Date back to string in the desired format
daily_means['Date'] = daily_means['Date'].astype(str).apply(lambda x: pd.to_datetime(x).strftime('%d-%m-%Y'))
# Select only the required columns
final_df = daily_means[['Date', 'pm25', 'pm10', 'aqi']]

Index(['Date', 'CreatedDate', 'pm25_Robin: Living room',
       'pm10_Robin: Living room', 'aqi_Robin: Living room'],
      dtype='object')

In [12]:
final_df.head()

         Date       pm25        pm10         aqi
0  01-05-2024  40.010417  110.802083  105.135417
1  02-05-2024  48.208333  116.239583  115.770833
2  03-05-2024  79.687500  177.218750  173.479167
3  04-05-2024  97.729167  262.187500  230.437500
4  05-05-2024  80.187500  229.656250  195.614583

In [13]:
# Ask user if they want to save the DataFrame to a CSV file
save_to_csv = input("Do you want to save the DataFrame to a CSV file? (yes/no): ").strip().lower()

if save_to_csv == 'yes':
    # Find the next available filename
    file_index = 1
    while os.path.exists(f'Robin_LR_avg_{file_index}.csv'):  #Change the fle name according to name of the residential eg-> 'Robin_LR_' can be changed to 'Lakshmi_LR_'
        file_index += 1

    file_name = f'Robin_LR_avg_{file_index}.csv'  #change the name here also
    final_df.to_csv(file_name, index=False)
    print(f"The DataFrame has been saved to {file_name}")
else:
    print("The DataFrame was not saved.")

Do you want to save the DataFrame to a CSV file? (yes/no):  no

The DataFrame was not saved.